@import 'colors.css';

:root {
  --border-radius: 20px;
  --cc-bg: @surface;
  --border: 0;
  --widget-background: @surface;

  --padding: calc(var(--border-radius) / 2);
}

.control-center {
  border: 0px solid;
  border-color: @secondary;
  border-radius: 20px;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius) / 2);
  border: var(--border);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.notification-group {
  border-radius: var(--border-radius);
  padding: 8px;
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: @surface;
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}


.notification {
  border: 0px solid;
  border-color: @secondary;
  border-radius: 20px;
  background-color: @surface;
  padding:10px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: #ffffff;
  background: transparent;
}

.close-button {
  background: @surface;
  text-shadow: none;
  color: @primary;
  padding: 0;
  border-radius: 15px;
  margin-top: 9px;
  margin-right: 10px;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  background: @secondary;
}

.notification-group .notification-group-close-button .close-button {
  margin: 15px 22px;
}
