* {
    primary: #cfbdfe;
    primary-fixed: #e9ddff;
    primary-fixed-dim: #cfbdfe;
    on-primary: #36265d;
    on-primary-fixed: #200f47;
    on-primary-fixed-variant: #4d3d76;
    primary-container: #72629d;
    on-primary-container: #ffffff;
    secondary: #ccc2df;
    secondary-fixed: #e8defc;
    secondary-fixed-dim: #ccc2df;
    on-secondary: #332d43;
    on-secondary-fixed: #1e182d;
    on-secondary-fixed-variant: #4a435b;
    secondary-container: #4a435b;
    on-secondary-container: #e6dbf9;
    tertiary: #fdb0d5;
    tertiary-fixed: #ffd8e8;
    tertiary-fixed-dim: #fdb0d5;
    on-tertiary: #521d3b;
    on-tertiary-fixed: #380726;
    on-tertiary-fixed-variant: #6d3352;
    tertiary-container: #975778;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #141317;
    on-surface: #e6e1e6;
    on-surface-variant: #cac4d0;
    outline: #948f9a;
    outline-variant: #49454f;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e6e1e6;
    inverse-on-surface: #323034;
    inverse-primary: #65558f;
    surface-dim: #141317;
    surface-bright: #3a383d;
    surface-container-lowest: #0f0e11;
    surface-container-low: #1c1b1f;
    surface-container: #211f23;
    surface-container-high: #2b292d;
    surface-container-highest: #363438;
    source-color: #72629d;
    source-color-50: #72629d80;
}
