* {
    primary: #ffb2bb;
    primary-fixed: #ffd9dd;
    primary-fixed-dim: #ffb2bb;
    on-primary: #670022;
    on-primary-fixed: #400012;
    on-primary-fixed-variant: #891736;
    primary-container: #94203d;
    on-primary-container: #ffe8e9;
    secondary: #ffb2bb;
    secondary-fixed: #ffd9dd;
    secondary-fixed-dim: #ffb2bb;
    on-secondary: #522029;
    on-secondary-fixed: #380b15;
    on-secondary-fixed-variant: #6d363e;
    secondary-container: #703841;
    on-secondary-container: #ffdbde;
    tertiary: #ffb68f;
    tertiary-fixed: #ffdbca;
    tertiary-fixed-dim: #ffb68f;
    on-tertiary: #542100;
    on-tertiary-fixed: #331200;
    on-tertiary-fixed-variant: #773200;
    tertiary-container: #833800;
    on-tertiary-container: #ffe8de;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #1b1012;
    on-surface: #f3dddf;
    on-surface-variant: #debfc2;
    outline: #a58a8c;
    outline-variant: #574143;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f3dddf;
    inverse-on-surface: #3a2d2e;
    inverse-primary: #aa314c;
    surface-dim: #1b1012;
    surface-bright: #443637;
    surface-container-lowest: #160b0d;
    surface-container-low: #24191a;
    surface-container: #281d1e;
    surface-container-high: #342728;
    surface-container-highest: #3f3133;
    source-color: #94203d;
    source-color-50: #94203d80;
}
