* {
    primary: #ffa9ff;
    primary-fixed: #ffd6fa;
    primary-fixed-dim: #ffa9ff;
    on-primary: #590062;
    on-primary-fixed: #36003c;
    on-primary-fixed-variant: #761d7e;
    primary-container: #792181;
    on-primary-container: #ffd9fa;
    secondary: #e7b7e4;
    secondary-fixed: #ffd6fa;
    secondary-fixed-dim: #e7b7e4;
    on-secondary: #462447;
    on-secondary-fixed: #2e0e31;
    on-secondary-fixed-variant: #5f3a5f;
    secondary-container: #5f3a5f;
    on-secondary-container: #ffd2fa;
    tertiary: #ffb1c0;
    tertiary-fixed: #ffd9df;
    tertiary-fixed-dim: #ffb1c0;
    on-tertiary: #660029;
    on-tertiary-fixed: #3f0017;
    on-tertiary-fixed-variant: #871a3e;
    tertiary-container: #8b1d41;
    on-tertiary-container: #ffdce1;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #181117;
    on-surface: #ecdfe8;
    on-surface-variant: #d4c1cf;
    outline: #9c8c99;
    outline-variant: #50434e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #ecdfe8;
    inverse-on-surface: #362e35;
    inverse-primary: #913998;
    surface-dim: #181117;
    surface-bright: #3f373e;
    surface-container-lowest: #120c12;
    surface-container-low: #201920;
    surface-container: #251d24;
    surface-container-high: #2f282e;
    surface-container-highest: #3a3239;
}
