@import 'colors.css';
window#waybar {
  background: transparent;
}

#custom-osd {
  background-color: @surface;
  color: @primary;
  border-width: 0px;
  border-color: @secondary;
  border-radius: 20px;
  padding: 10px 18px;
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
}
