@import 'colors.css';
window#waybar {
  background: transparent;
}

#custom-osd {
  background-color: rgba(0,0,0,0.7);
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 0px;
  padding: 10px 18px;
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
}
